<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>MDrights: A Policy Hacker | Ethnographer | Linuxer</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    -->
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/mdrights/digital-rights">參與翻譯</a></li>
          <li class="downloads"><a href="https://github.com/mdrights/Myscripts">腳本小子</a></li>
                <!--<li class="title">DOWNLOADS</li>-->
        </nav>
      </div><!-- end header -->

	{{ content }}

  </body>
  <footer>
	<hr>
	<p>[评论在这里]：<a href="https://github.com/mdrights/mdrights.github.io/issues/new">发一个issue</a></p>
	<p>[CONTACT]: @mdrights:matrix.org</p>
	<p><a href="{{ site.baseurl }}/mdrights.pgp.asc">[GPG key]</a> 31CA 3888 3C0B 17AF 7A91  F44B A809 C5B0 9BB2 4488 </p>
  </footer>
</html>
